*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color :green;
    height: 100%;
    width: 100%;
    display: grid;
    border: 5px solid rgb(160, 51, 51);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.item {
    background-color:rgb(220, 220, 201);
    border: 2px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
div.item1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-color: lightcyan;
}
div.item2 {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    background-color: lightpink;
}
div.item3 {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
    background-color: lightyellow;
}
div.item4 {
    grid-column: 1 / 3;
    grid-row: 3 / 6;
    background-color: lightgray;
}
div.item5 {
    grid-column: 3 / 6;
    grid-row: 4 / 6;
    background-color: lightgreen;
}
div.item6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: lightcoral;
}